body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --colorBgContainerDisabled: rgba(0, 0, 0, 0.04);
  --colorBgContainer: rgba(255, 255, 255, 1);
  --colorText: rgba(0, 0, 0, 0.88);
  --colorPrimaryBase: rgba(88, 191, 136, 1);
  --colorBorder: rgba(234, 236, 236, 1);
}
